{% extends 'analysis/base.html' %}

{% block container %}
    <div class="container-fluid">

        <div class="row" id="pageHeader">
            <div class="col-xl-12">
                <h4 class="main-title float-left">IP Address Details</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <form action="{{ url_for('analysis_ip') }}">
                    <div class="input-group">
                        <input type="text" class="form-control" id="ipInput" name="ip" value="{{ IP }}" placeholder="IP address, e.g. 1.2.3.4">
                        <input type="hidden" name="token" value="{{ ANALYSIS_TOKEN }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>GeoInfo &amp; Whois</h5>
                        Information gathered from: <a href="http://ip-api.com">http://ip-api.com</a>
                    </div>
                    <div class="card-body">
                        {% if geo_whois %}
                            <table class="table table-borderless" style="width: 1%; white-space: nowrap;">
                                <tbody>
                                    <tr>
                                        <th>City:</th>
                                        <td>{{ geo_whois["city"] }}</td>
                                        <th>Country:</th>
                                        <td>{{ geo_whois["country"] }}</td>
                                    </tr>
                                    <tr>
                                        <th>Organization:</th>
                                        <td>{{ geo_whois["org"] }}</td>
                                        <th>ISP:</th>
                                        <td>{{ geo_whois["isp"] }}</td>
                                    </tr>
                                    <tr>
                                        <th>Mobile:</th>
                                        <td>{{ geo_whois["mobile"] }}</td>
                                        <th>Proxy:</th>
                                        <td>{{ geo_whois["proxy"] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                        <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#geoInfoModal">Show all</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Requests per day</h5>
                        Click on a bar to preset the search below.
                    </div>
                    <div class="card-body">
                        <canvas id="xhourschart"></canvas>
                        <script>
                            var ctx = document.getElementById('xhourschart').getContext('2d');
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: {{ bar_days | safe}},
                                    datasets: [
                                        {
                                            label: "# of requests",
                                            backgroundColor: 'rgb(178,223,219)',
                                            data: {{ bar_requests }}
                                        }
                                    ]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                            beginAtZero: true,
                                            //stepSize: 1
                                            }
                                        }]
                                    }
                                }
                            });

                            // set search in datatable when clicking on chart
                            $("#xhourschart").click(
                                function(evt){
                                    var firstPoint = myBarChart.getElementAtEvent(evt)[0];
                                    if (firstPoint) {
                                        var label = myBarChart.data.labels[firstPoint._index];
                                        //var value = myBarChart.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
                                        $('#mytable').DataTable().search( label ).draw();
                                    }
                                }
                            );
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-12">
                <!-- json Modal -->
                <div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="jsonModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="jsonModalLabel">JSON</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <pre id="showJsonPre"></pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-12">
                <!-- raw geoinfo Modal -->
                <div class="modal fade" id="geoInfoModal" tabindex="-1" role="dialog" aria-labelledby="heoInfoModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="geoInfoModalLabel">GeoInfo &amp; Whois</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <pre id="showGeoInfoJsonPre"></pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Stored requests</h5>
                    </div>
                    <div class="card-body">
                        <table id="mytable" class="table table-responsive table-striped table-hover" style="width:100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col">ID</th>
                                    <th scope="col">UUID</th>
                                    <th scope="col">Timestamp</th>
                                    <th scope="col">Url</th>
                                    <th scope="col">Method</th>
                                    <th scope="col">Remote address</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for elem in table_content %}
                                <tr class="big-row" data-index="{{ loop.index0 }}">
                                    <td class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></td>
                                    <td style="">{{ elem.request.id }}</td>
                                    <td style="">{{ elem.uuid }}</td>
                                    <td style="">{{ elem.request.timestamp }}</td>
                                    <td style="overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-all;">{{ elem.request.url }}</td>
                                    <td style="">{{ elem.request.method }}</td>
                                    <td style="">{{ elem.request.remote_addr }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <script>
                $(document).ready( function () {
                    var table =  $('#mytable').DataTable({
                        /*dom: 'Bfrtip',*/
                        /*buttons: [
                            'columnsToggle'
                        ],*/
                        "columnDefs": [
                            { "orderable": false, "targets": [0] },
                            { "visible": false, "targets": [2]}
                          ]
                    });

                    // Add event listener for opening and closing details
                    $('#mytable tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var tdi = tr.find("i.fa");
                        var row = table.row( tr );

                        if ( row.child.isShown() ) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                            tdi.first().removeClass('fa-minus-square');
                            tdi.first().addClass('fa-plus-square');
                        }
                        else {
                            // Open this row
                            row.child( format(row.data()) ).show();
                            tr.addClass('shown');
                            tdi.first().removeClass('fa-plus-square');
                            tdi.first().addClass('fa-minus-square');
                        }
                    } );

                    // triggered when delete button pressed
                    $(document).on('click', '.deleteRowBtn', function(e) {
                        // send delete request and remove row from table
                        var b = this;
                        $.ajax({
                            url: "/api/analysis/"+this.value+"?token={{ ANALYSIS_TOKEN }}",
                            type: "DELETE",
                            success: function(result) {
                                table.row(b.closest('table').closest('tr').previousSibling).remove().draw(false);
                            }
                        });
                    });
                } );

                // Formatting function for row details
                function format ( d ) {
                    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                        '<tr>'+
                            '<td>UUID:</td>'+
                            '<td>'+d[2]+'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>Functions:</td>'+
                            '<td><button type="button" class="deleteRowBtn btn btn-outline-danger btn-sm" value="'+d[2]+'" >Delete row</button>\r\n'+
                            '<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#jsonModal" data-uuid-sub="'+d[2]+'">Show JSON</button></td>'+
                        '</tr>'+
                    '</table>';
                }

                // triggered when show JSON modal is about to be shown
                $('#jsonModal').on('show.bs.modal', function(e) {
                    // empty pre content
                    $(e.currentTarget).find('#showJsonPre').text("... requesting data ...");
                    //get data-uuid-sub attribute of the clicked element
                    var myuuid = $(e.relatedTarget).data('uuid-sub');
                    var textedJson;
                    $.getJSON("/api/analysis/"+myuuid+"?token={{ ANALYSIS_TOKEN }}", function(data) {
                        // beautify and display data
                        textedJson = JSON.stringify(data, undefined, 4);
                        $(e.currentTarget).find('#showJsonPre').text(textedJson);
                    });
                });
                // triggered when show geoInfo modal is about to be shown
                $('#geoInfoModal').on('show.bs.modal', function(e) {
                    // empty pre content
                    $(e.currentTarget).find('#showGeoInfoJsonPre').text("... requesting data ...");
                    //get data-uuid-sub attribute of the clicked element
                    var ip = document.getElementById("ipInput").value;
                    var textedJson;
                    $.getJSON("/api/analysis/ip/geoinfo/"+ip+"?token={{ ANALYSIS_TOKEN }}", function(data) {
                        // beautify and display data
                        textedJson = JSON.stringify(data, undefined, 4);
                        $(e.currentTarget).find('#showGeoInfoJsonPre').text(textedJson);
                    });
                });
                </script>
            </div>
        </div>
        <!-- end row-->
    </div>
    <!-- END container-fluid -->
{% endblock %}